{% extends "index" %} {% block content %}

<section
  class="hero"
  style="background-image: url('{{
    siteUrl
  }}static/images/photos/hero.jpg'); border: 1px solid transparent"
>
  <div class="hero-content">
    <h1>
      <span> &thinsp; Steam out your mind &thinsp; </span><br />
      <span> &thinsp; Behavioural and wellness clinic &thinsp; </span><br />
      <span> &thinsp; MDMA-Assisted Psycotherapy for PTSD &thinsp; </span>
    </h1>
  </div>
</section>

<section>
  <div class="benefits-section__flex content-column">
    <div class="benefits__image">
      <img src="./static/images/photos/ashling-1.jpg" alt="Ashling Cogan" />
    </div>

    <div class="benefits-section__content">
      <h2>What are the benefits for Post Traumatic Stress?</h2>
      <ul>
        <li>Ashling to define wording</li>
        <li>Ashling to define wording</li>
        <li>Ashling to define wording</li>
      </ul>
      <p>
        <a href="./benefits.html" class="cta-link">Read more benefits</a>
      </p>
    </div>
  </div>
</section>

<section class="section--light section--more-padding">
  <div class="benefits-section__flex content-column">
    <div class="who-can-help-section__content">
      <h2>Who can MDMA therapy help?</h2>
      <ul>
        <li>Ashling to define wording</li>
        <li>Ashling to define wording</li>
        <li>Ashling to define wording</li>
      </ul>
    </div>

    <div class="benefits__slider">
      <!-- Slider Component -->
      <div class="slider">
        <div class="slider__nav">
          <button type="button" class="slider__prev">
            <img src="./static/images/arrow-prev.svg" alt="Previous" />
          </button>
          <button type="button" class="slider__next">
            <img src="./static/images/arrow-next.svg" alt="Next" />
          </button>
        </div>

        <div class="slider__reel">
          <img
            src="./static/images/photos/ashling-3.jpg"
            alt="Mountains"
            class="slider__image"
          />
          <img
            src="./static/images/photos/ashling-4.jpg"
            alt="Jungle"
            class="slider__image"
          />
          <img
            src="./static/images/photos/ashling-2.jpg"
            alt="Ridge"
            class="slider__image"
          />
          <img
            src="./static/images/photos/ashling-5.jpg"
            alt="Scrambler"
            class="slider__image"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section--more-padding">
  <div class="content-column centered">
    <!-- HEREEEEEE -->
    <div class="cta-section__content">
      <h2>Want to find out if MDMA therapy can help you?</h2>

      <p>
        <a href="./book.html" class="cta-link">Book a session</a>
      </p>
    </div>
  </div>
</section>

<section
  class="section section--more-padding section--light section--wave-background section--angled-top"
>
  <div class="content-column centered">
    <h2>About Ashling</h2>

    <img
      src="{{ siteUrl }}static/images/photos/ashling-cogan.jpg"
      alt="Ashling Cogan"
      class="flex-columns__image"
      style="border-radius: 50%; border: 4px solid #fa61fb"
    />
    <h4>Ashling Cogan</h4>
    <p>Ashling is clinically trained..</p>

    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

    <div class="flex-columns">
      <div class="flex-columns__item">
        <img
          src="{{ siteUrl }}static/images/nhs-logo.svg"
          alt=""
          class="flex-columns__image"
        />
        <h4>Nursing</h4>
        <p>
          Ashling studied nursing at Oxford Brookes university and then worked
          in the John Ratcliffe Hospital over the course of the covid 19
          pandemic.
        </p>
      </div>

      <div class="flex-columns__item">
        <img
          src="{{ siteUrl }}static/images/photos/devon-mindfulness-logo.png"
          alt=""
          class="flex-columns__image"
        />
        <h4>Mindfulness Coaching</h4>
        <p>
          Ashling then gained a coaching qualification in Mindfulness Based
          Cognitive Therapy from the Devon School of Mindfulness.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
